# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Jacbo\Desktop\MWSU\Spring 2021 Semester\CSC 406 JAVA 4\Team-2-Banking-System\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
